<a href="https://colab.research.google.com/github/SHermukhammadjon/Data_Science_Zero_to_Mastery/blob/main/Scikit-learn/introduction_to_scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Scikit-Learn (sklearn)


This notebook demonstrates some of the most useful functions of the beautiful Scikt-Learning library. <br> </br>

What we are going to cover:


0.   An end-to-end Scikit Learning  workflow
1.   Getting the data ready
2.   Choose the right estimator/algoritm for our problems
3.   Fit the model/algorithm and use it make prodictions on our data
4.   Evaluting a model
5.   Improve a model
6.   Save and load a trained model
7.   Putting it all together

# 0. An end-to-end Scikit Learning  workflow

In [4]:
import pandas as pd
import numpy as np

## 1. Get the data ready. I have downloaded heart dises data from my google driver

In [11]:
heart_disease = pd.read_csv('https://drive.google.com/uc?export=download&id=1ghuKrPWeVYoDAUg-jimWxR-HX9gB1GJ0')
heart_disease.sample(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2,1
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
33,54,1,2,125,273,0,0,152,0,0.5,0,1,2,1
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2,1

In [14]:
# Creat X (features matrix)
X = heart_disease.drop("target", axis=1)

# Creat y (labels)
Y = heart_disease['target']

## 2. Chose the rigt model and hyperparametr

In [20]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparametr
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

## 3. Fit the model to th training data

In [21]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [23]:
clf.fit(x_train, y_train);

In [24]:
# make a pradaction
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0])

In [ ]:
# 4. Evalution the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [ ]:
clf.score(x_test, y_test)

0.8688524590163934

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.87      0.87      0.87        31
           1       0.87      0.87      0.87        30

    accuracy                           0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.87      0.87      0.87        61

In [ ]:
confusion_matrix(y_test, y_preds)

array([[27,  4],
       [ 4, 26]])

In [ ]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [ ]:
# 5 Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 100, 10):
  print(f"Trying model with {i} estimators...")
  clf = RandomForestClassifier(n_estimators = i)
  clf.fit(x_train, y_train)
  print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100}%\n")

Trying model with 10 estimators...
Model accuracy on test set: 80.32786885245902%

Trying model with 20 estimators...
Model accuracy on test set: 85.24590163934425%

Trying model with 30 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 40 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 50 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 60 estimators...
Model accuracy on test set: 83.60655737704919%

Trying model with 70 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 80 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 90 estimators...
Model accuracy on test set: 88.52459016393442%

In [ ]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1", "wb"))

In [ ]:
loadet_model = pickle.load(open("random_forest_model_1", 'rb'))
loadet_model.score(x_test, y_test)

0.8852459016393442