<a href="https://colab.research.google.com/github/SHermukhammadjon/Data_Science_Zero_to_Mastery/blob/main/Scikit-learn/introduction_to_scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful Scikt-Learning library. <br> </br>

What we are going to cover:


0.   An end-to-end Scikit Learning  workflow
1.   Getting the data ready
2.   Choose the right estimator/algoritm for our problems
3.   Fit the model/algorithm and use it make prodictions on our data
4.   Evaluting a model
5.   Improve a model
6.   Save and load a trained model
7.   Putting it all together

# 0. An end-to-end Scikit Learning  workflow

In [3]:
import pandas as pd
import numpy as np

In [11]:
# 1. Get the data ready. I have downloaded heart dises data from my google driver
heart_disease = pd.read_csv('https://drive.google.com/uc?export=download&id=1ghuKrPWeVYoDAUg-jimWxR-HX9gB1GJ0')
heart_disease.head(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1

In [16]:
# Creat X (features matrix)
X = heart_disease.drop("target", axis=1)

# Creat y (labels)
Y = heart_disease['target']

In [18]:
# 2. Chose the rigt model and hyperparametr
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparametr
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
# 3. Fit the model to th training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [26]:
clf.fit(x_train, y_train);

In [27]:
# make a pradaction
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1])

In [28]:
# 4. Evalution the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [29]:
clf.score(x_test, y_test)

0.8688524590163934

In [34]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.87      0.87      0.87        31
           1       0.87      0.87      0.87        30

    accuracy                           0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.87      0.87      0.87        61

In [35]:
confusion_matrix(y_test, y_preds)

array([[27,  4],
       [ 4, 26]])

In [36]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [43]:
# 5 Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 100, 10):
  print(f"Trying model with {i} estimators...")
  clf = RandomForestClassifier(n_estimators = i)
  clf.fit(x_train, y_train)
  print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100}%\n")

Trying model with 10 estimators...
Model accuracy on test set: 80.32786885245902%

Trying model with 20 estimators...
Model accuracy on test set: 85.24590163934425%

Trying model with 30 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 40 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 50 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 60 estimators...
Model accuracy on test set: 83.60655737704919%

Trying model with 70 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 80 estimators...
Model accuracy on test set: 88.52459016393442%

Trying model with 90 estimators...
Model accuracy on test set: 88.52459016393442%

In [44]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1", "wb"))

In [46]:
loadet_model = pickle.load(open("random_forest_model_1", 'rb'))
loadet_model.score(x_test, y_test)

0.8852459016393442